<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sponsor</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon-xpchecher.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/e7975306ce.js" crossorigin="anonymous"></script>

</head>

<body>
    <h1>Sponsor</h1>
    <br>
    <ul>
        <li class="fa-brands fa-instagram credits"><a
                href="https://www.instagram.com/nextgen_scouting?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                target="_blank" class="credits montserrat">NextGen Scouting</a></li>
    </ul>

    <footer>
        <a href="https://nicolopoletto.netlify.app/" target="blank">A creation by © Nicolò Poletto - Portfolio
            Website</span></a>
    </footer>

</body>

</html>