<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expected Goals (xG) Checker</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&display=swap" rel="stylesheet">
    <!-- Includi la libreria di jQuery per semplificare le richieste AJAX -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Includi una libreria di auto-completamento, come jQuery UI -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</head>
<body>
    <h1>Expected Goals (xG) Checker</h1>
    <div class="form_xpg">
        <form action="/result" method="post">
            <label for="player_name">Nome Giocatore:</label>
            <input type="text" id="player_name" name="player_name" required>
            
            <label for="season">Seleziona Stagione:</label>
            <select id="season" name="season" required>
                {% for season in seasons %}
                    <option value="{{ season }}">{{ season }}</option>
                {% endfor %}
            </select>
            
            <button type="submit">Controlla Statistiche</button>
        </form>
    </div>

    <script>
        $(document).ready(function() {
            function getPlayerNames(season) {
                return $.ajax({
                    url: '/player_names',
                    data: { season: season }
                }).fail(function(jqXHR, textStatus, errorThrown) {
                    console.error("Errore nel caricamento dei nomi dei giocatori:", textStatus, errorThrown);
                    alert('Errore nel caricamento dei nomi dei giocatori: ' + textStatus + ' ' + errorThrown);
                });
            }

            $('#season').change(function() {
                const season = $(this).val();
                getPlayerNames(season).done(function(data) {
                    $('#player_name').autocomplete({
                        source: data
                    });
                }).fail(function(jqXHR, textStatus, errorThrown) {
                    console.error("Errore nel caricamento dei nomi dei giocatori:", textStatus, errorThrown);
                });
            });

            // Trigger change event on page load to load player names for the default season
            $('#season').trigger('change');
        });
    </script>
</body>
</html>
